
@{
    ViewBag.Title = "Mesaj Alındı - Dilek Fanila";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr>
<h2 class="intro-text text-center">
    <strong>MESAJINIZ BAŞARIYLA ULAŞMIŞTIR. <br /><br />EN YAKIN ZAMANDA SİZLERE GERİ DÖNÜŞ YAPACAĞIZ.<br/><br /> TEŞEKKÜRLER</strong>
</h2>
<hr>

