
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("UploadFiles", "Anasayfa", new { Area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label class="btn btn-default btn-file">
        Fotoğraf Seç <input type="file" id="files" class="hidden" accept="image/jpeg, image/png,image/jpg" onchange="readURL(this);"/>
    </label>
    <img id="showImage" src="#" class="hidden" />
    <input class="btn btn-success" type="submit" value="Kaydet" />
}


<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#showImage')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200)
                    .removeClass("hidden");
                
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>